* { 
  padding: 0; 
  margin: 0; 
  }
body { 
  background-color: rgba(22,22,22,0.9); 
  background-image: url("jh-bg.JPG"); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  }
h1 { 
  color: #aaaaaa; 
  font-family: Rockwell, "Courier New", Courier New, Courier, Georgia, Times, "Times New Roman", serif; 
  letter-spacing: 1px; 
  font-size: 40px; 
  font-weight: bold; 
  margin-bottom: 0.5em; 
  }
h2 { 
  color: #ff0000; 
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif; 
  font-size: 28px; 
  margin-bottom: 0.5em; 
  }
p { 
  color: #fff; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Garamond, Georgia,serif; 
  font-size: 18px; 
  line-height: 1.5; 
  margin-bottom: 1em; 
  -webkit-font-smoothing: antialiased; 
  }
a { 
  color: #fff; 
  text-decoration: none; 
  border-bottom: 1px solid rgba(255,255,255,0.4); 
  }
a:hover { 
  color: #ff0000; 
  font-weight: bold; 
  border-bottom: 1px solid rgba(255,0,0,1); 
  }
ul { 
  list-style-type: none; 
  color: #fff; 
  font-family: Helvetica; 
  font-size: 18px; 
  margin-bottom: 18px; 
  -webkit-font-smoothing: antialiased; 
  }
li { 
  display: inline; 
  padding: 0 1em 0 0; 
  color: #fff; 
  font-family: Helvetica; 
  font-size: 18px; 
  margin-bottom: 18px; 
  -webkit-font-smoothing: antialiased; 
  }
li a { 
  font-weight: bold; 
  color: #fff; 
  }
#monogram { 
  width: 50px; 
  padding: 50px 0 0 0; 
  margin: 0 auto 0 50px; 
  background-color: #161616; 
  }
#about { 
  width: 360px; 
  padding: 1em 2em 0.5em; 
  margin: 50px 50px 0 auto; 
  background-color: rgba(22,22,22,0.9); 
  z-index: 1; 
  !important; 
  }
#attribution { 
  width: 360px; 
  padding: 1em 2em 0.5em; 
  margin: 0 50px 0 auto; 
  background-color: rgba(22,22,22,0.9); 
  z-index: 1; 
  !important; 
  }
@media (max-width: 767px) {
  #monogram { 
    position: relative; 
    width: auto; 
    padding: 20px; 
    margin: 0; 
    }
  #about { 
    position: relative; 
    width: auto; 
    padding: 20px; 
    margin: 0 
    !important; 
    }
  #attribution { 
    display: none; 
    }
  body { 
    background-image: none; 
    background-color: rgba(22,22,22,0.9); 
  }
  }
